.example-table-container {
  position: relative;
  overflow: auto;
  max-height: 70vh;
}

.mat-mdc-cell {
  font-size: 12px;
  // padding-right: 10px
}

.mat-column-alterno {
  width: 200px;
}

.mat-column-detalle {
  width: 40%;
}

.mat-column-emisor {
  width: 300px;
}

.mat-column-estado {
  width: 100px;
}

.mat-column-enviado {
  width: 32px;
  text-align: center;
}

.mat-column-opciones {
  width: 32px;
  border-left: 1px solid currentColor;
  text-align: center;
}
.mat-column-options {
  width: 32px;
  border-left: 1px solid currentColor;
  text-align: center;
}
.mat-column-expand {
  width: 32px;
  text-align: center;
}

// @media screen and (max-width: 800px) {
//   .mat-elevation-z8 {
//     background: transparent;
//     box-shadow: none;
//   }

//   .mat-mdc-header-row {
//     display: none;
//   }

//   tbody {
//     display: block;
//     width: 100%;
//   }

//   .mat-mdc-table .mat-mdc-row {
//     margin-top: 20px;
//     display: block;
//     overflow: hidden;
//     height: auto;
//     position: relative;
//     clear: both;
//     box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
//       0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
//     border-radius: 3px;
//   }

//   .mat-mdc-table .mat-mdc-cell {
//     display: block;
//     width: 100%;
//     padding: 0 16px;
//     margin: 16px 0;
//     border: 0 none;
//   }

//   .mat-mdc-table .mat-mdc-cell:first-child {
//     padding: 0 48px 0 16px;
//   }

//   .mat-mdc-table .mat-mdc-cell:first-child a {
//     font-size: 20px;
//     color: inherit;
//   }

//   .mat-mdc-table .mat-mdc-cell:first-child:before {
//     display: none;
//   }

//   .mat-mdc-table .mat-mdc-cell.m-card-sub-title {
//     margin-top: 8px;
//     padding: 0 48px 0 16px;
//     color: rgba(0, 0, 0, 0.54);
//     font-size: 18px;
//   }

//   .mat-mdc-table .has_label_on_mobile:before {
//     content: attr(data-label);
//     display: inline;
//     font-weight: bold;
//   }

//   .mat-mdc-table .mat-column-opciones {
//     width: auto;
//     padding: 8px 0 0 !important;
//     margin: 0;
//     position: absolute;
//     top: 0;
//     right: 0;
//   }

//   .mat-mdc-table .mat-column-opciones:before {
//     display: none;
//   }

//   .mat-mdc-paginator {
//     margin-bottom: 5px;
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     right: 0;
//   }

  // .mat-mdc-table .mat-column-expandedDetail {
  //   display: none;
  // }

  // .mat-mdc-table .mat-column-expand {
  //   display: none;
  // }
// }
